html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(111, 165, 219);
}

canvas {
  display: block;
}

h1,
h2,
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 50%;
}